body {
  margin: 0;
  background: linear-gradient(left, #25c481, #25b7c4);
}

.container {
  width: 100%;
  .body {
    border: 1px solid cyan;
    //background-color: #52be80;
    // background-color: #9a6cc3;
    height: 72%;
    display: flex;
    .row-1 {
      flex: 2;
      //border: 2px solid yellow;
      overflow-y: scroll;
    }
    .row-2 {
      flex: 1;
      //border: 2px solid green;
    }
  }

  .footer {
    margin-top: -1%;
    height: 10%;
    background-color: goldenrod;
  }
}
h2 {
  color: white;
}

.header {
  padding: 0 0 5px 0;
  height: 15%;
  background-color: #3295ab;
  display: flex;
  .heading {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 2% 0 58px 5%;
    flex: 4;
  }
  .button {
    flex: 0.5;
    //margin: 2% 0 10px 0;
    margin: auto auto;
    button {
      background-color: #212f3c; // black;
      margin: 2% 0 2% 10%;
      width: 200px;
      height: 50px;
      font-weight: bold;
      color: crimson;
      border: 2px solid crimson;
      font-size: 24px;
      transition: background-color 1s;
      border: none;
    }
    button:hover {
      color: #fff;
      background-color: goldenrod;
    }
  }
}
a {
  text-decoration: none;
  font-size: 18px;
  margin: auto auto;
  color: #800080;
}
table {
  margin: 2% 0 0 10%;
  color: white;
  font-family: Lato-Bold;
  //background-color: #4e4953; // #6c7ae0;
  background: transparent;
  border: #ffffff;
  //box-shadow: 1px 1px 4px 2px yellow;
  // height: 100%;
  width: 80%;

  thead {
    height: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ff5733;
  }
  tbody {
    height: 90%;
  }
}
// th {
//   padding: 20px 15px;
//   font-size: 25px;
//   height: 10%;
//   //border: 1px solid rgba(255, 255, 255, 0.3);
// }
// td {
//   text-align: center;
//   font-size: 18px;
//   border: 1px solid black;
//   vertical-align: middle;
//   border-bottom: solid 1px rgba(255, 255, 255, 0.1);
// }

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.table-column {
  color: #ffffff;
  //margin: 2px 0 0 0;
  display: inline;
}
.first {
  height: 50px;
  width: 400px;
  margin-top: 25px;
}
