body {
  margin: 0;
  //background-color: thistle;
  background-image: linear-gradient(#2575e8, #8d25e8);
  //   overflow: hidden;
}
.container {
  margin: 3% auto;
  padding-top: 10px;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  //background-color: snow;

  .heading {
    margin: auto auto;
    //border: 1px solid salmon;
    width: 80%;
    height: 60px;
    display: flex;
    //background: #303030;
    color: greenyellow;
    .title {
      margin: auto auto;
      flex: 5;
      font-size: 40px;
    }
    .button {
      margin: auto auto;
      flex: 1;
      float: right;
      width: 180px;
      button {
        font-size: 18px;
        padding: 10px;
        border: 1px solid #009999;
        box-sizing: border-box;
        width: 100px;
        border-radius: 10%;
        background-color: black;
        color: #009999;
        transition: background-color 1s ease;
        //background-image: linear-gradient(to right, #ecf0f1, #1896af);
      }
      button:hover {
        // box-shadow: 1px 1px 2px 1px #c0c0c0;
        color: crimson;
        font-weigth: 600;
        background-color: floralwhite;
      }
    }
  }
  .body {
    margin: auto auto;
    padding-top: 3%;
    width: 80%;
    .info {
      margin: auto auto;
      padding: 3%;
      border: 2px solid black;

      .label-entry {
        display: flex;
        justify-content: space-around;
        width: 50%;
        //border: 2px solid red;
        padding: 3px;
        label {
          flex: 1;
          font-size: 20px;
          padding: 5px;
        }
        input {
          flex: 3;
          padding: 8px;
          font-size: 16px;
          color: black;
          //border: none;
        }
      }
      a {
        width: 30%;
        margin-left: 200px;
        margin-right: 200px;
        color: thistle;
      }
    }
  }
}
